mixin preloader()
  .preloader
    .preloader__content
      .preloader__logo.preloader__logo--variant--small-logo
        img(
          src="assets/images/logo-small-colored.svg"
          alt=""
          class="preloader-logo__img preloader-logo__img--small"
        )
        .preloader__logo-foreground.preloader__logo-foreground--variant--small-logo
      .preloader__logo.preloader__logo--variant--text-logo
        img(
          src="assets/images/logo-text.svg"
          alt=""
          class="preloader-logo__img preloader-logo__img--text"
        )
        .preloader__logo-foreground.preloader__logo-foreground--variant--text-logo
